<!DOCTYPE html>
<html ng-app="ekinApp" xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title>Ekincare</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/app.css"/>
</head>

<body ng-cloak ng-controller="login">
<div class="container-fluid" >
    <form name="smokingform">
        <div class="row-fluid">
            <div class="span3">
                <!--<fieldset>
                    <label for="usersmoking">smoking:</label>
                    <input focus id="usersmoking" type="text" required placeholder="smoking" ng-model="smoking.usersmoking">

                </fieldset>-->

                <div align="center">DO YOU HAVE SMOKING HABBITS</div>
                <fieldset >
                    <br/>
                    <br/>

                <input type="radio" name="smoke" value="yes" ng-model="smoking.answer">YES:</input>
                    <input type="radio" name="smoke" value="no" ng-model="smoking.answer">NO:</input>


                </fieldset>
                <br/>
                <br/>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span3">
                <div class="pull-left"><span class="btn" ng-click="cancle()">Cancel</span></div>
                <div class="pull-right"><button type="submit" id="ssubmit" class="btn" ng-click="s_submit(smoking)">submit</button></div>
            </div>
        </div>
    </form>
</div>




<script src="/lib/angular/angular-resource.min.js"></script>
<script src="/lib/bootstrap.min.js"></script>
<script src="/lib/jquery.min.js"></script>
<script src="/lib/angular/angular.js"></script>
<script src="/lib/underscore-1.4.4.min.js"></script>
<script src="/js/app.js"></script>
<script src="/js/controllers/login.js"></script>

</body>
</html>