<!--
<div class="container-fluid" >
    <form name="loginForm">
        <div class="row-fluid">
            <div class="span3">
                <fieldset>
                    <label for="userName">User Name:</label>
                    <input focus id="userName" type="text" required placeholder="Username" ng-model="user.userName">
                    <label for="password">Password:</label>
                    <input id="password" type="password" required placeholder="Password" ng-model="user.password">
                </fieldset>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span3">
                <div class="pull-left"><span class="btn" ng-click="cancle()">Cancel</span></div>
                <div class="pull-right"><button type="submit" id="loginButton" class="btn" ng-click="login(user)">Login</button></div>
            </div>
        </div>
    </form>
</div>-->

<div  class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h1 class="text-center">Login</h1>
            </div>
            <div class="modal-body">
                <form class="form col-md-12 center-block">

                    <fieldset>
                        <div class="form-group">
                        <label for="userName">User Name:</label>
                        <input focus id="userName" type="text" required class="form-control input-lg" placeholder="Username" ng-model="user.userName">
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                        <input id="password" type="password" required class="form-control input-lg" placeholder="Password" ng-model="user.password">
                        </div>
                    </fieldset>
                    <div class="form-group">
                        <button type="submit" id="loginButton"  ng-click="login(user)" class="btn btn-primary btn-lg btn-block">Sign In</button>
                        <span class="pull-right"><a href="#">Register</a></span><span><a href="#">Need help?</a></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                    <button class="btn" data-dismiss="modal" aria-hidden="true" ng-click="cancle()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
